 .bmicontainer {
    /* display: flex;  */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0056b3;
    color: #000;
    /* opacity: 0.6; */
  }
  .bmicontainer span{
    text-align: center;
  }


  .bmicontainer h1 {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    /* text-align: center; */
    width: 400px;
    margin-left: 430px;
      
  }
  .bmicontainer {
    /* background-image: url('../assets/img/background.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 50px;
  }
  
  .bmicontainer h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #fff;
  

  } 
/*   
  h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  } */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fff;
    opacity: 0.6; */
    padding: 2rem;
    border-radius: 1rem;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
   
    font-weight: 600;

  
    
    
  }
  /* input
  {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-left: 1rem;
    font-size: 1rem;
  } */
  
  select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 240px;
    margin-left: 1rem;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .result {
    margin-top: 2rem;
    text-align: center;
  }
  
  .result p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .result img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
  }
   