.forgot-password-page {
    background: linear-gradient(to bottom, #FF5252, #FFD740);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  .form-data {
    padding: 40px;
  }
  
  .ForgotPassword-Heading h2 {
    color: #333333;
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .ForgotPassword-Heading p {
    color: #555555;
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  .forms-inputs input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #555555;
    cursor: pointer;
  }
  
  .message {
    font-size: 14px;
    color: #555555;
    margin-top: 10px;
    text-align: center;
  }
  
  .message a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
  }
  
  .message a:hover {
    text-decoration: underline;
  }
  